<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
</head>
<body>
<h1>게시글 수정</h1>
<form th:action="@{/support/posts/edit/{postId}(postId=${post.postId})}" method="post">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" th:value="${post.postTitle}">
    <br>
    <label for="content">내용:</label>
    <textarea id="content" name="content" rows="5" cols="30" th:text="${post.postContent}"></textarea>
    <br>
    <button type="submit">수정 완료</button>
</form>
<a href="/support/notice">목록으로 돌아가기</a>
</body>
</html>
