body {
    font-family: 'Pretendard', Arial, sans-serif;
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.contents {
    display: flex;
}

.resv_wrap{
    margin-top: 450px;
}

.resv_container{
    width: 80vw;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 100px 50px;
}

.form-container {
    width: 55%;
    padding: 20px;
}

.location-container {
    width: 40%;
    padding: 20px;
    text-align: center;
}

.location-container img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.resv_title{
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-green);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--primary-green);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--grass-green);
}

ul.time_list {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
}

ul.time_list li.time_item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1px;
    box-sizing: border-box;
    flex: 1;
}

ul.time_list li.time_item.half {
    width: 20px;
    box-sizing: border-box;
}

li.time_item.half button.btn_time {
    background-color: #aaa;
}

li.time_item.half.selected button.btn_time {
    background-color: var(--primary-green);
}

button.time-move {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-green);
    opacity: 0.7;
    position: absolute;
    top: 60px;
    z-index: 1;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.time-move.time-left {
    left: 10px;
}

button.time-move.time-right {
    right: 10px;
}

button.time-move:hover {
    background-color: var(--grass-green);
    transform: scale(1.2);
    opacity: 0.9;
}

.resv_submitbutton{
    border-radius: 20px 20px 20px 20px;
}

#reservation-time {
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#reservation-time label h3 {
    margin-bottom: 10px;
    color: var(--primary-green);
    font-family: 'Pretendard', Arial, sans-serif;
}