<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멍 스퀘어</title>
    <link rel="icon" href="/mung/images/logo.png">
    <link rel="stylesheet" href="/mung/common/style/main_style.css">
    <link rel="stylesheet" href="/mung/common/style/mypage_style.css">
    <link rel="stylesheet" href="/mung/common/style/dogprofile_style.css">
    <link rel="stylesheet" href="/mung/common/style/dogregister_style.css">
    <link rel="stylesheet" href="/mung/common/style/modal.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"/>
   <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/mung/common/script/mypage_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
-->
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/mung/common/script/mypage_script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <div layout:fragment="content">

        <div class="square5_mypage_container">
            <div class="square5_mypage_welcome">
                <h1>마이페이지</h1>
                <h2>안녕하세요, <span th:each="dog:${dog}"><span th:text="${dog.name}+' '"></span></span>견주님!</h2>
            </div>

            <div class="square5_mypage_content">
                <div class="square5_mypage_reservation">
                    <h2><i class="fas fa-calendar-check"></i> 나의 예약 현황</h2>
                    <div class="square5_reservation_card">
                        <div class="square5_reservation_info">
                            <p><i class="fas fa-ticket-alt"></i> 예약번호:
                            </p>
                            <p><i class="fas fa-map-marker-alt"></i> 예약장소:
                            </p>
                            <p><i class="far fa-clock"></i> 예약일시:
                            </p>
                        </div>
                    </div>
                    <div class="square5_no_reservation"><!--th:unless="${reservation != null}"-->
                        <i class="far fa-calendar-times"></i>
                        <p>현재 예약 내역이 없습니다.</p>
                        <a href="/mung/resv" class="btn btn-primary">예약하러 가기</a>
                    </div>
                </div>

                <div class="square5_mypage_dogs">
                    <h2><i class="fas fa-paw"></i> 나의 반려견</h2>
                    <div class="square5_dogs_grid" th:each="dog:${dog}">

                        <div class="square5_dog_card">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#dogProfileModal"
                               th:data-dog-id="${dog.id}"
                               onclick="loadDogProfile(this.getAttribute('data-dog-id'))">

                                <div class="square5_dog_image">
                                    <img th:src="@{/mypage/}+${dog.imageUrl}" th:alt="${dog.name}">
                                </div>
                                <div class="square5_dog_name">
                                    <span th:text="${dog.name}">반려견명</span>
                                </div>
                            </a>
                        </div>
                        <div class="square5_add_dog_card">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#dogRegisterModal">
                                <i class="fas fa-plus"></i>
                                <p>반려견 추가하기</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="square5_mypage_reviews">
                    <h2 th:each="dog:${dog}"><i class="fas fa-star"></i> <span th:text="${dog.name}+' '"></span>와 함꼐한
                        순간들</h2>
                    <div class="square5_reviews_grid">
                        <div class="square5_review_card">
                            <div class="square5_review_image">
                                <img src="images/review-placeholder.jpg" alt="리뷰 이미지">
                            </div>
                            <p class="square5_review_date">2024.03.15</p>
                        </div>
                        <div class="square5_add_review_card">
                            <a href="/review/write">
                                <i class="fas fa-plus"></i>
                                <p>추가할 수 있는 순간이 더 있어요. 추가하시겠어요?</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="square5_mypage_actions">
                <a href="/profile/edit" class="btn btn-primary"><i class="fas fa-user-edit"></i> 프로필 수정</a>
            </div>
        </div>
    </div>

    <!-- 반려견 프로필 모달 -->
    <div class="modal fade" id="dogProfileModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2><i class="fas fa-paw"></i> 반려견 프로필</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    <a href="/dog/edit" class="square5_edit_btn"><i class="fas fa-edit"></i> 프로필 수정</a>
                </div>
                <div class="modal-body">
                    <div class="square5_dog_image">
                        <img th:src="@{/mypage/}+${dog.imageUrl}" alt="반려견 이미지" class="square5_profile_img">
                    </div>

                    <div class="square5_dog_info">
                        <div class="square5_info_item">
                            <i class="fas fa-id-card"></i>
                            <label>이름</label>
                            <span id="dog-name">반려견 이름</span>
                        </div>

                        <div class="square5_info_item">
                            <i class="fas fa-birthday-cake"></i>
                            <label>나이</label>
                            <span id="dog-age">반려견 나이</span>
                        </div>

                        <div class="square5_info_item">
                            <i class="fas fa-venus-mars"></i>
                            <label>성별</label>
                            <span id="dog-gender">반려견 성별</span>
                        </div>

                        <div class="square5_info_item">
                            <i class="fas fa-dog"></i>
                            <label>견종</label>
                            <span id="dog-breed">견종</span>
                        </div>

                        <div class="square5_info_item">
                            <i class="fas fa-calendar-alt"></i>
                            <label>만난 날</label>
                            <span id="dog-birthDate">만난 날</span>
                        </div>

                        <div class="square5_info_item">
                            <i class="fas fa-heart"></i>
                            <label>무게</label>
                            <span id="dog-weight">반려견 무게</span>
                        </div>
                    </div>


                    <div class="square5_profile_actions">
                        <a href="/mypage" class="btn btn-secondary">돌아가기</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</body>
</html>